
body *{
  color: #7F92B0;
  font-family: 'Noto Sans', sans-serif;
}

a{
  color: #94A9C9 !important;
}

a:hover,
a.active,
a:active{
  color: #1CC2E7 !important;
}

body{
  background-color: #0F172A;
  padding-top: 85px;
}



.box-dark-blue{
  background-color: #131C31 !important;
  border: 1px solid #222F43
}


.img-filter-dark-blue{
  position: relative;
  margin: 0px;
}
.img-filter-dark-blue figcaption{
  position: absolute;
  width: 100%;
  top:0; bottom:0;
  transition: all 300ms;
  background: rgb(0,45,96);
  background: radial-gradient(circle, rgba(0,45,96,0.4066001400560224) 50%, rgba(0,0,0,0.76234243697479) 100%);

}
.img-filter-dark-blue:hover figcaption{
  background: rgb(0,45,96);
  background: radial-gradient(circle, rgba(0,45,96,0.21052170868347342) 50%, rgba(0,0,0,0.6587009803921569) 100%);
}

/**
 POST SINGLE
 */
.postSingle{

}

.postSingleHeader{

}

.postSingleCover{

}

.postSingleContent img{
  max-width: 100%;
  height: auto;
}
.postSingleContent *{
  font-family: "Noto Sans", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 28px;
  color: #94A9C9; !important;
}



.postSingleFooter{

}



.cursor-pointer{
  cursor: pointer !important;
}





.color-title{ color: #b9e0f2 !important }

.coloredTitle{ color: white !important }
.coloredTitle span{ color: #0DCAF0 !important }

.coloredTitleReverse{ color: #0DCAF0 !important }
.coloredTitleReverse span{ color: white !important }

.bg-dark-blue{ background-color: #131C31 !important; }
.bg-light-blue{ background-color: #0DCAF0 !important; }
.text-dark-blue{ color: #131C31 !important; }
.text-light-blue{ color: #0DCAF0 !important; }
.text-light-white{ color: #b9e0f2 !important; }



/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #0DCAF0 #222F43;
}

/* Chrome, Edge and Safari */
*::-webkit-scrollbar {
  width: 8px;
  width: 8px;
}
*::-webkit-scrollbar-track {
  border-radius: 0px;
  background-color: #222F43;
}

*::-webkit-scrollbar-track:hover {
  background-color: #222F43;
}

*::-webkit-scrollbar-track:active {
  background-color: #222F43;
}

*::-webkit-scrollbar-thumb {
  border-radius: 2px;
  background-color: #0DCAF0;
}

*::-webkit-scrollbar-thumb:hover {
  background-color: #0DCAF0;
}

*::-webkit-scrollbar-thumb:active {
  background-color: #0DCAF0;
}


img.pswp__img{
    max-width: 1600px !important;
    max-height: 960px !important;
    height: auto !important;
}

/**
  -> ARAMA KUTUSU
 */
#navSearchContainer{ width: 230px;  }
#navSearchContainer .input-group{ width: 85px !important; transition: all 500ms;  }
#navSearchContainer .input-group:has(> input:focus),
#navSearchContainer .input-group:has(> input.active){ width: 230px !important;  }
#navSearchContainer input{
  background-color: transparent;
  overflow: hidden;
  padding-right: 3px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom-color: rgba(255,255,255,0.1);
}
#navSearchContainer button{
  background-color:  rgba(255,255,255,0.1);
  color: #0DCAF0;
  font-weight: bold;
}
#navSearchContainer input:focus{
  box-shadow: none;
  text-align: left !important;
}
@media screen and (max-width: 992px){
  #navSearchContainer{ width: 100%; border-top: 1px solid rgba(255,255,255,0.1); padding-top: 15px; margin-top:5px}
  #navSearchContainer .input-group{ width: 100% !important;  }
  #navSearchContainer .input-group:has(> input:focus){ width: 100% !important;  }
}

/**
  -> SEÇİLİ YAZILAR
 */
::-moz-selection { color: white; background: #0DCAF0; }

::selection { color: white; background: #0DCAF0; }


/**
  -> REFERANSLARDAKİ BANA AİT BÖLÜMÜ
 */
.markedSpanForMyProject{
  display: inline-block;
  position: absolute;
  top: 8px;
  left: 8px;
  font-size: 14px;
  line-height: 24px;
  height: 26px;
  width: auto;
  padding: 0 12px;
  font-style: italic;
  background-color: #131C31 !important;
  color: #0DCAF0;
  box-shadow: 0 0 2px #0DCAF0;
  z-index: 100;
  border-radius: 20px ;
}




